@charset "utf-8";
/* CSS Document */

*{
	font-family:Verdana, Geneva, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 900px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


#head{
	
	width: 900px;
	background-color: #000;
	background:#415a71;
	padding: 1em 2em;
	margin: 20px auto; 
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.61);
box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.61);


/*background: -moz-linear-gradient(top,  #415a71 0%, #415a71 49%, #444040 51%, #444040 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415a71), color-stop(49%,#415a71), color-stop(51%,#444040), color-stop(100%,#444040)); 
background: -webkit-linear-gradient(top,  #415a71 0%,#415a71 49%,#444040 51%,#444040 100%); 
background: -o-linear-gradient(top,  #415a71 0%,#415a71 49%,#444040 51%,#444040 100%); 
background: -ms-linear-gradient(top,  #415a71 0%,#415a71 49%,#444040 51%,#444040 100%); 
background: linear-gradient(to bottom,  #415a71 0%,#415a71 49%,#444040 51%,#444040 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415a71', endColorstr='#444040',GradientType=0 ); */

}

#logo{
	
	float:left;
	width:296px;	
	height:68px;
}

#botonera{
	
	height:68px;
	width:100px;
	
}

#footer{
	height:80px;
	width: 900px;
	background-color: #000;
	background:#415a71;
	
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.61);
box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.61);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
}

#footer2{
height:15px;
	width: 900px;
	background-color: #000;
	background:#364554;
	border-radius:0 0 10px 10px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.61);
box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.61);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 0;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
}

#toolbar{background:url("http://public.bay.livefilestore.com/y1png3lGcrhvOxWMZNsU7JA0Pzm4wMFVh6NXYtKxypajfpmJ0MPWKqa4BtDirDC6CfsBkPflzAtuXVsB527-krIxA/banner.png") repeat scroll 0 0 transparent;height:45px;top:0; padding:10px 0 10px 82px; font-size:24px; color:#FFF; font-weight:bold; border:0}

.ss-form-container{
	width: 900px;
	background-color: #FFF;
	background:#ebf4fb;
	border-radius:10px 10px 0 0;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.61);
box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.61);
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
}



